body {
    margin: 0px;
/*      background-color:   #06D6A0;    ;    #06D6A0;   VEEDE AREN*/
    font-family: 'Chilanka', cursive;; 
/*  font-family: 'Chilanka', cursive;*/

background: linear-gradient( rgb(214, 72, 6), #8725D4);
}

/* INICIO DE HEADER*/
.header{
   
    width : 100% ;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img {
    width:  200px;
    margin-top: 10px;
    margin-left: 15px;
}
.header__menu {
    margin-right: 50px;

}
.header__menu ul {
   display :  none ; 
   list-style:none ; 
   padding: 0px;
   position: absolute;
   width: 100px;
   text-align: right;
   margin:  0px 0px 0px -14px;
}
/*PARA QUE SE MUESTRE LA UL (PERFIL Y SESSION) */ 
.header__menu:hover ul , ul:hover{
   display: block;
}

/*ESTILIZAR LOS UL OSEA EL PERFIL Y CERRAR SESION*/
.header__menu li {
    margin: 10px 0px; /* el primero 10px va para top y bootom y el 0px para left  y right*/
/* eso fue para q no se vieran juntos*/
}

.header__menu  li a {
    color: white;
    text-decoration: none;

}
/* PARA COOCARLE EL SUBRAYADO CUANDO SE ACERCA */ 
.header__menu  li a:hover {
    text-decoration: underline;
}


.header__menu--profile { 
    margin-right: 8px;
    display: flex;
    width: 40px;
    align-items: center;

}

.header__menu--profile img { 
    margin-right: 8px;
    width: 40px;
}

.header__menu--profile p { 
     margin: 0px;
     color: white;
}

    /*FIN DE HEADER*/


    /*SECTION BUSCAR*/

    .main {
    height: 300px;
    text-align: center;

}
.main__title  {
    color: white;
    font-size: 25px;


}
.input{
    background-color: rgba(255,255,255,0.1);/* R=RED , G:GREEN , B:BLUE ,A :OPACITY*/
     border: 2px solid white;
    border-radius: 25px;
    color: white ;
     font-family: 'Chilanka', cursive;; 
    font-size: 16px;
    height: 50px;
    padding: 0px 20px; 
    width: 70%;
    outline: none;

}
/*fin de main BUSCAR */ 

/* CAROSEL INICIO*/

.carousel{
    overflow-x: auto;
    padding:30px;
    position: relative;
    margin-top: 40px;
}
.carousel__container{
    white-space: nowrap;
    margin: 70px 0px; /* para arriba los 70 px y abajo 0px*/ 
    padding-bottom: 10px;       

}

.carousel-item { 
    background : linear-gradient(to top ,rgba(0,0,0,0.9) 0% ,  rgba(0,0,0,0) 100%);
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;/*UNO A LADO DEL OTRO*/
    cursor:pointer;
    transition : 450ms all;
    transform-origin: center left;
    position: relative;

}
.carousel-item:hover  ~ .carousel-item  {
    transform: translate3d(100px,0 , 0);
    
}

/* haremos sobre la opacidad en lo q despues de selccionar lo de atras se opaca */
.carousel__container:hover  .carousel-item {
    opacity: 0.3;
}
/*Haremos el incremntop de tamaño cuando lo selecionamos*/
.carousel__container:hover  .carousel-item:hover {
    transform: scale(1.5);
    opacity:1;
}

.carousel-item__img{
    width: 200px;
    height: 250px;
    object-fit: cover;/*para q recupere su tamaño inicial*/

}
.carousel-item__details {
    background : linear-gradient(to top ,rgba(0,0,0,0.9) 0% ,  rgba(0,0,0,0) 100%);
    font-size: 10px;
    opacity: 0;
    transition:  450ms opacity ;
    font-family: 'Chilanka', cursive;
    padding-top: 110px;
    padding-left: 15px;
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;


}
.carousel-item__details:hover  { 
    opacity: 1;
}
.carousel-item__details p{
  
    font-family: 'Chilanka', cursive;
    color: white;
    align-items: flex-end;

}
.carousel-item__details img {
    height: 30px;
    width: 30px;
    
    

}


.carousel-item__details--title {
    color:white;
    font-size: 15px;
}

.carousel-item__details--subtitle {
    color:white;
    font-size: 15px;
}

    /*  FIN CAROSEL */

/* SECTION DE BUSCAR*/
.main {
    height: 80px;

}
.main__title  {
    color: white;
    font-size: 25px;


}

.categories__title {
    color: wheat;
    font-size: 25px;
    position: absolute;
    padding-left: 30px;
    margin: 40px 20px;
    width: 100%;
    height: 50px;
     font-family: 'Chilanka', cursive;; 
}
.input{
    background-color: rgba(255,255,255,0.1);/* R=RED , G:GREEN , B:BLUE ,A :OPACITY*/
     border: 2px solid white;
    border-radius: 25px;
    color: white ;
     font-family: 'Chilanka', cursive;; 
    font-size: 16px;
    height: 50px;
    padding: 0px 20px; 
    width: 70%;
    outline: none;

}

   ::placeholder { 
    color: white;
}
/*FIN DE SECTION BUSCAR*/


.footer { 
    background-color:  #8725D4;
    font-family: 'Chilanka', cursive;
    text-align: center;
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: center;
    padding-top: 30px;

}
.footer a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    padding-left: 30px;
}

.footer a:hover {
    text-decoration:underline;
}